.top-header--transparent {
  background-color: transparent;
}

.profile .profile__header {
  height: 63vh;
  background-image: url("https://i.pinimg.com/originals/8e/87/1c/8e871cdb5b4c904393ed2d91c2fcc270.png");
  background-position: center center;
  background-size: 100%;
  width: 100%;
  position: relative;
  top: -60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.profile__header .profile__header-container {
  text-align: center;
  position: relative;
  bottom: -55px;
}

.profile__header-container img {
  width: 90px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile .profile__container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__container input {
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
  border-style: solid #f1eff1;
  border-radius: 5px;
}

.profile__actions {
  display: flex;
}

.profile__action {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.profile__action-circle {
  font-size: 10px;
  background: #f2f2f2;
  padding: 16px;
  border-radius: 50%;
  color: #523737;
  margin-bottom: 15px;
}

.profile__action-title {
  font-size: 12px;
  font-weight: 600;
}
